@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.title__text{
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    /* color:#eee; */
    text-align:center;
}

.h1_title{
    color:#0f5133;
    text-transform: uppercase;
    padding:1rem 0;
    font-size:1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align:left;
}

.p__text{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size:1rem;
    line-height: 30px;
    font-weight: 500;
}

.form-control::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    color:#333; 
    font-weight: 600;
}
::-webkit-scrollbar-track {
    background-color: #D1D161;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #0F5133;
}



