#main{
    background:#fff;
    position: sticky;
    width: 60%; 
    height:auto;
    margin: 0 auto;
    display: flex;
    border: 1px solid rgba(0,0,0,.2);
    padding-top:.34rem;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    background:linear-gradient(120deg,#148028,#75FF8F,#29FF50,#3B8047 ); 
    background:#0e0e0e;
    opacity: .8;

}
#main .box{
    width:60%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom:1.5rem;
    
}

#main .form-control{
    border-radius:10px;
    color:#000;
}

.question{
    background:#d1d161;
    background-size:200%;
    color:#000;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    padding:1rem 3.5rem;
    position:relative;
    display: block;
    margin:.5rem auto;
    height: 300px;
    overflow-Y: scroll;
    width: 60%;
}

#main .output{
    width: 60%;
    min-height: 11rem;
    text-align: justify;
    padding-left:.4rem;
    border-left: 1px solid #eee;
}


.message{
    background:#3B8047;
    position: relative;;
    margin-top:1.7rem;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,.19);
    width: 60%;
    padding: .3rem 0;
    color:#fff;
}